ion-grid{
  background-image:  linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) ), url(https://i.pinimg.com/originals/b0/7b/a5/b07ba538878dcb34e0b2a6014c238ea7.jpg);
  background-size: cover;
	margin: 0px;
}
h2{
	font-family:Lucida Calligraphy;
	text-align:center;
	font-size: 20pt;
  padding: -10px;
	color:rgb(27, 136, 118);
	
}
p{
  font-family:Lucida Calligraphy;
	text-align:center;
  color:rgba(16, 77, 92, 0.966);
}
#loginpage{
  width:auto;
	padding: 10% 0 0;
	margin:auto;

  position:relative;
	z-index:1;
	background: rgba(29, 32, 46, 0.8);
	//max-width: 360px;
	//margin: 0 auto 100px;
	padding:45px;
	text-align:center;
}
.message{
	margin:15px 0 0;
	color:aliceblue;
	font-size: 12px;
}
message a{
	color: green;
	text-decoration: none;
}
ion-input{
	font-family:"Roboto",sans-serif;
	outline: 1;
	//background:#2b2929;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding:15px;
	box-sizing: border-box;
	font-size:14px;
}